html, body {
    margin: 0px;
    height: 100%;
}

body {
    background-color: #18191A;

    display: flex;
    align-items: center;
    justify-content: center;
}

.base {
    height: 600px;
    width: 400px;
    background-color: black;
    box-sizing: border-box;
    padding: 15px;

    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

button {
    text-decoration: none;
    border: none;
    background-color: #18191A;
    color: white;

    height: 85px;
    width: 85px;
    border-radius: 50px;
    margin: 4px 2px;
}

.screen {
    flex: auto;
}

.btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btns .zerobtn {
    width: 178px;
}