html, body {
    margin: 0px;
    height: 100%;
}

body {
    background-color: #18191A;

    display: flex;
    align-items: center;
    justify-content: center;
}

.base {
    height: 600px;
    width: 400px;
    background-color: black;

    border-radius: 40px;
    
}