html, body {
    margin: 0px;
    height: 100%;
}

body {
    background-color: #18191A;

    display: flex;
    align-items: center;
    justify-content: center;
}

.base {
    height: 600px;
    width: 360px;
    background-color: black;
    box-sizing: border-box;
    padding: 15px;

    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

button {
    text-decoration: none;
    border: none;
    background-color: #18191A;
    color: white;
    font-size: 28px;

    height: 75px;
    width: 75px;
    border-radius: 50px;
    margin: 4px 2px;
}

.screen {
    flex: auto;
}

.btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btns .btn0 {
    width: 158px;
}

.operator {
    background-color: dimgray;
}

p {
    color: white;
    font-size: 36px;
    text-align: right;
}

.screen {
    display: flex;
    justify-content: end;
    align-items: flex-end;
}